body {
  margin: 0;
  font-family: "Space Mono", monospace;
}

button,
input {
  font-family: "Space Mono", monospace;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
