.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container .content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .btnContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container button {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}

.container button:hover {
  border-color: black;
}
.container p {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 16px;
  text-decoration: underline;
}
.container ul {
  margin: 0;
  text-align: left;
  width: 100%;
}
