.container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 12px;
}

.container button {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}

.container button:hover {
  border: none;
}
.container p {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 16px;
  text-align: left;
  text-decoration: underline;
}
.container ul {
  margin: 0;
  padding: 0 20px;
  text-align: left;
}
